name: (US) Validation

on:
  workflow_call:
    inputs:
      destination:
        description: build output destination
        type: string
      version:
        description: 'App version'
        type: string
      deploy:
        description: 'App version structure on artifactory or e-store'
        type: string
jobs:

  validate_for_artifact_dev:    
    runs-on: self-hosted    
    if: ${{ github.event.inputs.destination == 'artifact_dev' }}
    steps:
    - name: validate for dev      
      run: | 
        echo "is for development"

  validate_for_artifact_prod_vnv:    
    runs-on: self-hosted
    steps:
    - name: validate for prod_vnv
      if: ${{ github.event.inputs.destination == 'artifact_prod_vnv' }}
      run: | 
        echo "is for prod_vnv"

  validate_for_e_store_enterprice:
    runs-on: self-hosted
    steps:
    - name: validate for e-store enterprice       
      if: ${{ github.event.inputs.destination == 'e_store_enterprise' }}
      run: | 
        echo "is for e-store"

  validate_for_e_store_prod_vnv:    
    runs-on: self-hosted
    steps:
    - name: validate for e-store prod-vnv
      if: ${{ github.event.inputs.destination == 'e_store_prod_vnv' }}
      run: | 
        echo "is for e-store"

  validate_for_appStore:    
    runs-on: self-hosted
    steps:
    - name: validate for app-store
      if: ${{ github.event.inputs.destination == 'app_store' }}
      run: | 
        echo "is for app-store"      


#  validate_destination:
#    runs-on: self-hosted
#    steps:
#
#    - name: validate for dev
#      if: ${{ github.event.inputs.destination == 'artifact_dev' }}
#      run: | 
#        echo "is for development"
#
#    - name: validate for prod_vnv
#      if: ${{ github.event.inputs.destination == 'artifact_prod_vnv' }}
#      run: | 
#        echo "is for prod_vnv"
#
#    - name: validate for e-store
#      if: ${{ github.event.inputs.destination == 'e_store' }}
#      run: | 
#        echo "is for e-store"
#
#    - name: validate for app-store
#      if: ${{ github.event.inputs.destination == 'app_store' }}
#      run: | 
#        echo "is for app-store"  